@charset "utf-8";
//this is second sass.
.box{
	width:250px;
	height:300px;
	background-color: blue;
} 
.box2{
	@extend  .box;
	color: #fff;
	text-align: center;
	font:{
		size:30px;
	}
}
$size: 18;
$px-unit: $size * 1px;
$px-string: $size;
$px-number: $px-unit / 1px;
$color: yellowgreen;
.button {
	background: rgba(255, 0, 0, $px-number * 3 / 100);
	padding: $px-unit / 2;
	border-radius: $px-string * 1px;
	margin-top:  $px-number * 2px;
	color:lighten($color, 15%);
}